<a href="https://colab.research.google.com/github/RiteshAgrawal2001/BIG-DATA-/blob/main/prac2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/Social_Network_Ads.csv')

print(df)

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
print(df.head())

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
print(df.shape)

(400, 5)

In [ ]:
print(df.columns)

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
print(df.dtypes)

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB
None

In [ ]:
variable_name = df ['User ID']

In [ ]:
print(df.tail())

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [ ]:
print(df.Age.tail())

395    46
396    51
397    50
398    36
399    49
Name: Age, dtype: int64

In [ ]:
Subset = df [ [ 'User ID' ,'Gender', 'Age'] ]
print(Subset.head(10))

    User ID  Gender  Age
0  15624510    Male   19
1  15810944    Male   35
2  15668575  Female   26
3  15603246  Female   27
4  15804002    Male   19
5  15728773    Male   27
6  15598044  Female   27
7  15694829  Female   32
8  15600575    Male   25
9  15727311  Female   35

In [ ]:
print(df.loc[0])

User ID            15624510
Gender                 Male
Age                      19
EstimatedSalary       19000
Purchased                 0
Name: 0, dtype: object

In [ ]:
print(df.tail(n=1))

      User ID  Gender  Age  EstimatedSalary  Purchased
399  15594041  Female   49            36000          1

In [ ]:
print(df.loc[[0, 99,399]])

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
99   15756820  Female   28            37000          0
399  15594041  Female   49            36000          1

In [ ]:
print(df.iloc[1])

User ID            15810944
Gender                 Male
Age                      35
EstimatedSalary       20000
Purchased                 0
Name: 1, dtype: object

In [ ]:
print(df.iloc[-1])

User ID            15594041
Gender               Female
Age                      49
EstimatedSalary       36000
Purchased                 1
Name: 399, dtype: object

In [ ]:
df.loc[:]

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
df.loc[:,['User ID']]

      User ID
0    15624510
1    15810944
2    15668575
3    15603246
4    15804002
..        ...
395  15691863
396  15706071
397  15654296
398  15755018
399  15594041

[400 rows x 1 columns]

In [ ]:
df.loc[:, ['User ID', 'Gender']]

      User ID  Gender
0    15624510    Male
1    15810944    Male
2    15668575  Female
3    15603246  Female
4    15804002    Male
..        ...     ...
395  15691863  Female
396  15706071    Male
397  15654296  Female
398  15755018    Male
399  15594041  Female

[400 rows x 2 columns]

In [ ]:
variable_name=df.iloc[1:-1]
print(variable_name.head())

    User ID  Gender  Age  EstimatedSalary  Purchased
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0

In [ ]:
df.iloc[:, 1]

0        Male
1        Male
2      Female
3      Female
4        Male
        ...
395    Female
396      Male
397    Female
398      Male
399    Female
Name: Gender, Length: 400, dtype: object

In [ ]:
df.iloc[4, :]

User ID            15804002
Gender                 Male
Age                      19
EstimatedSalary       76000
Purchased                 0
Name: 4, dtype: object

Subset Rows & Columns simultaneously using loc command

In [ ]:
Print(df.loc[12, ‘Column_name3’]

In [ ]:
print(df.loc[[0,99]],[ ‘Column_name1’, ‘Column_name4’]

In [ ]:
print(df.iloc[12, 3]

In [ ]:
print(df.iloc[[0,99]],[ 1,4]